@charset "UTF-8";

:root {
    --cor-bg: #f3ede5;
    --cor-destaque: #f7b300;
    --cor-botao: #133416;
    --cor-fonte: #8e8c8a;
    --cor-white: #fff;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--cor-bg);
    color: var(--cor-fonte);
    font-family: Arial, Helvetica, sans-serif;
}